:8083 {
    reverse_proxy api:8000
    
    # Engine Debugging Access
    handle /engine/* {
        uri strip_prefix /engine
        reverse_proxy engine:3000
    }
    
    log {
        output file /var/log/caddy/access.log
    }
}
